/*Google Fonts*/
@import url(https://fonts.googleapis.com/css?family=Roboto);
/*
font-family: 'Roboto', sans-serif;
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
/*
font-family: 'Oswald', sans-serif;
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/*
font-family: 'Open Sans Condensed', sans-serif;
*/
@import url(https://fonts.googleapis.com/css?family=Raleway);
/*
font-family: 'Raleway', sans-serif;
*/